<ion-header>
  <ion-toolbar>
    <ion-title>
      CRUD de Produtos IGTi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Para iniciar</ion-card-subtitle>
        <ion-card-title>Como cadastrar um produto?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Clique aqui para cadastrar um produto.</p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
