<ion-header>
  <ion-toolbar>
    <ion-title>
      CRUD de Produtos IGTi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Para iniciar</ion-card-subtitle>
        <ion-card-title>Como cadastrar um produto?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Clique na aba Produtos para gerenciar sua lista de produtos.</p>
      </ion-card-content>
    </ion-card>
    <ion-item>
        <ion-badge color="dark">Desenvolvido por <a href="http://www.williamzimmermann.com.br" target="_blank">William Zimmermann</a></ion-badge>
    </ion-item>
</ion-content>
