<ion-header>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-chip *ngIf="message" color="{{message.type}}">
        <ion-label>{{message.content}}</ion-label>
    </ion-chip>
    <ion-item>
      <ion-label position="floating">Nome do Produto</ion-label>
      <ion-input id="product_name" name="product_name" [(ngModel)]="product.title" clearInput="true" minlength="2" required="true"></ion-input>
      <ion-button color="primary" (click)="addItem()">Adicionar</ion-button>
    </ion-item>
    <ion-item>
      <h2>Lista de Produtos</h2>
    </ion-item>
    <ion-list>
      <ion-item *ngFor="let item of productsList">
        <ion-label>{{item.title}}</ion-label>
        <ion-badge slot="end" color="warning">Editar</ion-badge>
        <ion-button color="danger" (click)="removeItem(item.id)">Remover</ion-button>
      </ion-item>
    </ion-list>
</ion-content>
