<ion-header>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-chip *ngIf="message" color="{{message.type}}">
        <ion-label>{{message.content}}</ion-label>
    </ion-chip>
    <ion-item>
      <ion-label position="floating">Nome do Produto</ion-label>
      <ion-input id="product_name" name="product_name" [(ngModel)]="product.title" clearInput="true" minlength="2" required="true"></ion-input>
      <ion-button color="primary" (click)="saveItem()">Salvar</ion-button>
    </ion-item>
    <ion-item>
      <h2>Lista de Produtos</h2>
    </ion-item>
    <ion-list>
      <ion-item *ngFor="let item of productsList">
        <ion-label>{{item.title}}</ion-label>
        <ion-button color="warning" (click)="startEdition(item.id)">Editar</ion-button>
        <ion-button color="danger" (click)="removeItem(item.id)">Remover</ion-button>
      </ion-item>
    </ion-list>
    <ion-item>
        <ion-badge color="dark">Desenvolvido por <a href="http://www.williamzimmermann.com.br" target="_blank">William Zimmermann</a></ion-badge>
    </ion-item>
</ion-content>
